{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'payment.admin.payment.details.title'|trans %}
{% block page_title 'payment.admin.payment.details.title'|trans %}

{% block admin_content %}
    <div class="text-align">
        <p>{{ 'payment.admin.payment.details.num'|trans({'%num%': payment.id})|raw }}</p>
        <p>{{ 'payment.admin.payment.details.user'|trans({'%user%': payment.user.username})|raw }}</p>
        <p>{{ 'payment.admin.payment.details.date'|trans({'%date%': payment.date|date("d/m/Y H:i")})|raw }}</p>
        <p>{{ 'payment.admin.payment.details.amount'|trans({'%amount%': payment.getamount})|raw }}</p>
        <p>{{ 'payment.admin.payment.details.number'|trans({'%number%': payment.transactions|length})|raw }}</p>
        {% if not payment.isValidRefund %}
        <div class="text-center">
            <p>
                <a class="btn" href="{{ path('nantarena_admin_refund_payment', {'id': payment.id}) }}">{{ 'payment.admin.refund.payment.btn'|trans }}</a>
            </p>
        </div>
        {% endif %}
    </div>

    <div>
        <p><b>{{ 'payment.admin.payment.details.list.title'|trans }}</b></p>
        <div class="span8">
            <table class="table">
                <thead>
                <tr>
                    <th class="tiny">#</th>
                    <th>{{ 'payment.admin.payment.details.list.th_user'|trans }}</th>
                    <th>{{ 'payment.admin.payment.details.list.th_status'|trans }}</th>
                    <th>{{ 'payment.admin.payment.details.list.th_price'|trans }}</th>
                    <th>{{ 'payment.admin.payment.details.list.th_refund'|trans }}</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for transaction in payment.transactions %}
                    {% if transaction.refund %}
                        {% if transaction.refund.valid %}
                        <tr class="error">
                        {% else %}
                        <tr class="warning">
                        {% endif %}
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ transaction.id }}</td>
                        <td>
                            {{ transaction.user.username }}
                        </td>
                        <td>
                            {% if transaction.getentry is not empty %}
                            {{ transaction.getentry.entrytype.name }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {{ transaction.price }}
                        </td>
                        <td>
                            {% if transaction.refund %}
                                {{ transaction.refund.description }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if transaction.refund %}
                                <a href="{{ path('nantarena_admin_refund_modify', {'id': transaction.refund.id}) }}">
                                    <i class="icon-wrench"></i>
                                </a>
                                {% if not transaction.refund.valid %}
                                    <a href="{{ path('nantarena_admin_refund_validate', {'id': transaction.refund.id}) }}">
                                        <i class="icon-ok"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('nantarena_admin_refund_transaction', {'id': transaction.id}) }}">
                                    <i class="icon-download-alt"></i>{{ 'payment.admin.refund.transaction.btn'|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="pagination pagination-centered"><ul></ul></div>
            <p class="text-center">
                <a href="{{ path('nantarena_admin_payment_list') }}">{{ 'payment.admin.payment.list.return'|trans }}</a>
            </p>
            <p class="text-center">
                <a href="{{ path('nantarena_admin_transaction_list') }}">{{ 'payment.admin.payment.list.return_trans'|trans }}</a>
            </p>
        </div>
    </div>

{% endblock %}
