{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'payment.admin.payment.list.title'|trans %}
{% block page_title 'payment.admin.payment.list.title'|trans %}

{% block admin_content %}



    <div class="text-center">
        {{ form_start(form) }}
        {{ form_widget(form.event, {'attr': {'onchange':'this.form.submit()'} }) }}
        {{ form_end(form) }}
    </div>

    <div class="span10">
        <table class="table sortable filterable" data-perpage="50">
            <thead>
            <tr>
                <th data-filter="ignore" class="tiny">#</th>
                <th>Acheteur</th>
                <th data-filter="date">Date</th>
                <th>Prix</th>
                <th>Nombre de transaction</th>
                <th>Méthode</th>
                <th class="mini"></th>
            </tr>
            </thead>

            <tbody>
            {% for payment in lpayment %}
                {% if payment.isValidRefund %}
                <tr class="error">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ payment.id }}</td>
                    <td>
                        {{ payment.user.username }}
                    </td>
                    <td>
                        {{ payment.date|date("d/m/Y H:i") }}
                    </td>
                    <td>
                        {{ payment.amount|number_format(2, '.', ',') }}€
                    </td>
                    <td>
                        {{ payment.transactions|length }}
                    </td>
                    <td>
                        {% if payment.isPaypal %}
                        paypal
                        {% elseif payment.isCash %}
                        liquide
                        {% elseif payment.isAdaptative %}
                        liquide
                        {% else %}
                        classique
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('nantarena_admin_payment_payment_details', {'id': payment.id}) }}">
                            <i class="icon-eye-open"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tbody class="empty">
                <tr>
                    <td colspan="10">
                        <p class="text-center">Aucun paiement</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination pagination-centered"><ul></ul></div>
    </div>
{% endblock %}
