<li class="left"><a href="{{ path('nantarena_news_index') }}">{{ 'site.menu.news'|trans }}</a></li>
<li class="left"><a href="{{ static_link('presentation') }}">{{ 'site.menu.whoarewe'|trans }}</a></li>
<li class="left"><a href="https://www.facebook.com/nantarena/photos_stream?tab=photos_albums" target="_blank">{{ 'site.menu.medias'|trans }}</a></li>
<li class="left"><a href="{{ static_link('reglements') }}">{{ 'site.menu.reglements'|trans }}</a></li>

<li class="left">{{ render(controller('NantarenaEventBundle:Event:menu')) }}</li>

<li class="left"><a href="http://beatby44.nantarena.net">Tournois Consoles</a></li>

<li class="left"><a href="{{ static_link('nos-partenaires') }}">Partenaires</a></li>
<li class="left"><a href="{{ static_link('sponsors') }}">Sponsors</a></li>
