{% if active %}
    <div id="tournamentWidget" class="widget">
        <h4>Inscriptions aux tournois</h4>

        <div id="tournamentProgress">
            <ul>
                {% for tournament in tournaments %}

                    {% set teamsValid = 0 %}
                    {% set playersTotal = 0 %}
                    {% set teamsTotal = tournament.teams|length %}

                    {% if tournament.maxTeams < teamsTotal %}
                        {% set teamsTotal = tournament.maxTeams %}
                    {% endif %}

                    {% for team in tournament.teams %}
                        {% set playersTotal = playersTotal + team.members|length %}
                        {% if teamsValidation[team.id] %}
                            {% set teamsValid = teamsValid + 1 %}
                        {% endif %}
                    {% endfor %}

                    <li>
                        <p><a href="#">{{ tournament.name }}</a></p>
                        <div class="progress ttip" data-title="{{ teamsValid }}/{{ tournament.maxTeams }} validées (sur {{ tournament.teams|length }} équipes inscrites)" data-placement="bottom">
                            <div class="bar bar-success" style="width: {{ teamsValid / tournament.maxTeams * 100 }}%"></div>
                            <div class="bar" style="width: {{ (teamsTotal - teamsValid) / tournament.maxTeams * 100 }}%"></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
