{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="control-group">
        <div class="span6">
            <fieldset>
                <legend>{{ 'event.form.fieldset.infos'|trans }}</legend>

                {{ form_row(form.event, {'label': 'event.profile.index.event'|trans|colon}) }}
                {{ form_row(form.name, {'label': 'event.form.team.name'|trans|colon}) }}
                {{ form_row(form.tournament, {'label': 'event.form.team.tournament'|trans|colon}) }}
                {{ form_row(form.creator, {'label': 'event.form.team.creator'|trans|colon}) }}

                {% form_theme form.members with 'NantarenaSiteBundle:Form:inline_layout.html.twig' %}
                {{ form_widget(form.members, {
                    'add_text': 'event.form.team.members.add'|trans,
                    'labels': 'event.form.team.members.list'|trans
                }) }}
            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <legend>{{ 'event.form.fieldset.other'|trans }}</legend>

                {{ form_row(form.tag, {'label': 'event.form.team.tag'|trans|colon}) }}
                {{ form_row(form.logo, {'label': 'event.form.team.logo'|trans|colon}) }}
                {{ form_row(form.website, {'label': 'event.form.team.website'|trans|colon}) }}
                {{ form_row(form.desc, {'label': 'event.form.team.desc'|trans|colon}) }}

            </fieldset>
        </div>
    </div>

    {{ form_row(form.submit, {'label': submit}) }}
{{ form_end(form) }}

<p class="text-center">
    <a href="{{ path('nantarena_event_admin_teams') }}">{{ 'event.admin.teams.back'|trans }}</a>
</p>
