{% extends 'NantarenaEventBundle::layout.html.twig' %}

{% block title 'event.show.title'|trans({'%name%': event.name}) %}
{% block page_title 'event.show.title'|trans({'%name%': event.name}) %}

{% block event_content %}

    <h2>
        <time datetime="{{ event.startDate|date('Y-m-d') }}">
            {% if event.startDate|date('Y-m-d') == event.endDate|date('Y-m-d') %}
                {{ 'event.show.date.oneday'|trans({
                    '%date%': event.startDate|localizeddate('full', 'none')
                })|capitalize }}
            {% else %}
                {{ 'event.show.date.manydays'|trans({
                    '%date1%': event.startDate|date('d'),
                    '%date2%': event.endDate|localizeddate('long', 'none')
                })|capitalize }}
            {% endif %}
        </time>
    </h2>

    <div class="infos {% if event.cover is not null %}infos-cover{% endif %}">
        <div class="row-fluid">
        {% if event.cover is not null %}
            <div class="span6 cover">
                <img src="{{ imageLink(event.cover) }}" alt="{{ 'event.show.cover'|trans }}"/>
            </div>
            <div class="span6">
        {% else %}
            <div class="span12">
        {% endif %}
                <ul>
                    <li>
                        <strong>{{ 'event.show.registrations'|trans|colon }}</strong>
                        {% if event.startRegistrationDate|date('Y-m-d') == event.endRegistrationDate|date('Y-m-d') %}
                            <time datetime="{{ event.startRegistrationDate|date('Y-m-d') }}">
                                {{ 'event.show.date.oneday'|trans({
                                    '%date%': event.startRegistrationDate|date('d/m/Y')
                                }) }}
                            </time>
                        {% else %}
                            <time datetime="{{ event.startRegistrationDate|date('Y-m-d') }}">
                                {{ 'event.show.date.manydays'|trans({
                                    '%date1%': event.startRegistrationDate|date('d/m/Y'),
                                    '%date2%': event.endRegistrationDate|date('d/m/Y')
                                }) }}
                            </time>
                        {% endif %}
                    </li>
                    <li>
                        <strong>{{ 'event.show.open_hour'|trans|colon }}</strong>
                        <time datetime="{{ event.startDate|date('Y-m-d H:i') }}">
                            {{ 'event.show.datetime'|trans({
                                '%datetime%': event.startDate|date('d/m/Y \\à H\\h')
                            }) }}
                            {% if event.startDate|date('i') > 0 %}
                                {{ event.startDate|date('i') }}
                            {% endif %}
                        </time>
                    </li>
                    {% if event.tournaments.count > 0 %}
                        <li>
                            <strong>{{ 'event.show.tournaments_start'|trans|colon }}</strong>
                            {% set startDate = event.tournaments|min('startDate').startDate %}
                            {{ 'event.show.datetime'|trans({
                                '%datetime%': startDate|date('d/m/Y \\à H\\h')
                            }) }}
                            {% if startDate|date('i') > 0 %}
                                {{ startDate|date('i') }}
                            {% endif %}
                        </li>
                    {% endif %}
                    <li>
                        <strong>{{ 'event.show.capacity'|trans|colon }}</strong>
                        {{ 'event.show.capacity_value'|trans({
                            '%value%': event.capacity
                        }) }}
                    </li>
                    {% if event.tournaments|length > 0 %}
                        <li>
                            <strong>{{ 'event.show.price.title'|trans }}</strong>
                            {% set minPrice = event.tournaments|min('price').price %}
                            {% set maxPrice = event.tournaments|max('price').price %}

                            {% if minPrice == maxPrice %}
                                {{ 'event.show.price.one'|trans({
                                    '%price%': minPrice
                                }) }}
                            {% else %}
                                {{ 'event.show.price.many'|trans({
                                    '%price1%': minPrice,
                                    '%price2%': maxPrice
                                }) }}
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>

                <p class="text-center">
                    {% if event.endRegistrationDate|date('Y-m-d H:i') < "now"|date('Y-m-d H:i') %}
                        <span class="text-error">{{ 'event.participate.flash.closed'|trans }}</span>
                    {% elseif event.startRegistrationDate|date('Y-m-d H:i') > "now"|date('Y-m-d H:i') %}
                        <span class="text-error">{{ 'event.participate.flash.notyet'|trans }}</span>
                    {% elseif event.full %}
                        <span class="text-error">{{ 'event.participate.flash.full'|trans }}</span>
                    {% elseif entry is not null %}
                        <span class="text-success">{{ 'event.participate.flash.participation'|trans({'%tournament%': entry.tournament.name}) }}</span>
                    {% else %}
                        <a href="{{ path('nantarena_event_participate', {'slug': event.slug}) }}" class="btn btn-success">{{ 'event.show.registration.open'|trans }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    {% if entry is not null %}
        <h2>Votre inscription</h2>

        <div class="infos">
            <div class="row-fluid">
                <div class="span12">
                    <ul>
                        <li>
                            <strong>{{ 'Mon tournoi'|colon }}</strong>
                            {{ entry.tournament.name }}

                            {% if transaction is null %}
                                (<a href="{{ path('nantarena_event_cancel', {'slug': event.slug}) }}">Se désinscrire</a>)
                            {% endif %}
                        </li>
                        <li>
                            <strong>{{ 'Mon équipe'|colon }}</strong>
                            {% if entry.team is not null %}
                                {{ entry.team.name }}

                                (
                                <a href="{{ path('nantarena_event_team_view', {'slug' : event.slug, 'team' : entry.team.id}) }}">{{ 'event.profile.team.view'|trans }}</a>
                                {% if entry == entry.team.creator %}
                                    -
                                    <a href="{{ path('nantarena_event_team_edit', {'team' : entry.team.id, 'slug' : event.slug}) }}">{{ 'event.profile.modifyTeam.button'|trans }}</a>
                                {% endif %}
                                )
                            {% else %}
                                -
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            {% if entry.team is not null %}
                {% if teamsValidation[entry.team.id] %}
                    <p class="text-center text-success">
                        L'équipe a été validée définitivement
                    </p>
                {% else %}
                    <p class="text-center text-error">
                        L'équipe n'est pas encore validée définitivement
                    </p>
                {% endif %}
            {% endif %}

            <p class="text-center">
                {% if entry.team is null %}
                    <a href="{{ path('nantarena_event_team_create', {'slug' : event.slug}) }}" class="btn btn-success">{{ 'event.profile.createTeam.createButton'|trans }}</a>
                {% elseif transaction is null %}
                    {% if not tournamentsComplete[entry.tournament.id] and not teamsValidation[entry.team.id] %}
                        {#<a class="btn btn-success" href="{{ path('nantarena_payment_paymentprocess_create', {'slug' : event.slug}) }}">Payer</a>#}
                        <a class="btn btn-success disabled ttip" title="Paiement bientôt possible" href="#">Payer</a>
                    {% else %}
                        <span class="text-error">Le tournoi est désormais complet</span>
                    {% endif %}
                {% elseif transaction is not null %}
                    <span class="text-success">
                        {% if transaction.user == transaction.payment.user %}
                            Vous avez payé {{ transaction.price }}€
                        {% else %}
                            {{ transaction.payment.user.username }} a payé {{ transaction.price }}€ pour vous
                        {% endif %}

                        {% if transaction.payment.paypal %}
                            par Paypal
                        {% elseif transaction.payment.cash %}
                            en liquide
                        {% endif %}
                    </span>
                {% endif %}
            </p>
        </div>
    {% endif %}


    {% if event.tournaments.count > 0 %}
        <h2>{{ 'event.show.tournaments'|trans }}</h2>

        {% for tournament in event.tournaments %}

            {% set teamsValid = 0 %}
            {% set playersTotal = 0 %}
            {% set teamsTotal = tournament.teams|length %}

            {% if tournament.maxTeams < teamsTotal %}
                {% set teamsTotal = tournament.maxTeams %}
            {% endif %}

            {% for team in tournament.teams %}
                {% set playersTotal = playersTotal + team.members|length %}
                {% if teamsValidation[team.id] %}
                    {% set teamsValid = teamsValid + 1 %}
                {% endif %}
            {% endfor %}

            <section class="tournament">
                <header>
                    <h3>
                        <span class="platform badge
                            {% if tournament.game.platform == 'PC' %}badge-info{% endif %}
                        ">{{ tournament.game.platform }}</span>
                        {{ tournament.name }}
                        <span>
                            {{ 'event.show.tournament.format'|trans({
                                '%nb%': tournament.game.teamCapacity
                            }) }}
                            -
                            {{ 'event.show.tournament.capacity'|trans({
                                '%capacity%': tournament.maxTeams
                            }) }}
                        </span>
                    </h3>
                    <div class="row-fluid">
                        <div class="span6">
                            <ul class="infos">
                                <li>
                                    <strong>{{ 'event.show.tournament.start'|trans|colon }}</strong>
                                    {{ 'event.show.datetime'|trans({
                                        '%datetime%': tournament.startDate|date('d/m/Y \\à H\\h')
                                    }) }}
                                    {% if tournament.startDate|date('i') > 0 %}
                                        {{ tournament.startDate|date('i') }}
                                    {% endif %}
                                </li>
                                {% if teamsTotal > 0 %}
                                    <li>
                                        <p class="text-center">
                                            <a href="#" class="teams-show">{{ 'event.show.tournament.teams.show'|trans }}</a>
                                            <a href="#" class="teams-hide hide">{{ 'event.show.tournament.teams.hide'|trans }}</a>
                                        </p>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="span6">
                            <div class="progress">
                                <div class="bar bar-success" style="width: {{ teamsValid / tournament.maxTeams * 100}}%"></div>
                                <div class="bar" style="width: {{ teamsTotal * 0.9 / tournament.maxTeams * 100}}%"></div>
                            </div>
                            <p>
                                {{ 'event.show.tournament.teams.total'|transchoice(tournament.teams|length) }}
                                ({{ 'event.show.tournament.teams.players'|transchoice(playersTotal) }})
                                {{ 'event.show.tournament.teams.valid'|transchoice(teamsValid) }}
                            </p>
                        </div>
                    </div>
                </header>

                <div class="teams hide">
                    {% for team in tournament.teams %}
                        <div class="team">
                            {% if teamsValidation[team.id] %}
                                <span class="badge badge-success">Validée</span>
                            {% else %}
                                <span class="badge">Non validée</span>
                            {% endif %}
                            <h4>
                                {{ team.name }}
                            </h4>
                            <p class="text-center">
                                {% for member in team.members %}
                                    {% if member == team.creator %}
                                        <strong>{{ member.user.username }}</strong>
                                    {% else %}
                                        {{ member.user.username }}
                                    {% endif %}

                                    {% if not loop.last %}
                                        -
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                </div>

            </section>
        {% endfor %}
    {% endif %}

{% endblock %}
