{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'payment.admin.payment.user.title'|trans %}
{% block page_title 'payment.admin.payment.user.title'|trans %}

{% block admin_content %}
	<div class="text-center">
        {{ form_start(form) }}
        {{ form_widget(form.event, {'attr': {'onchange':'this.form.submit()'} }) }}
        {{ form_end(form) }}
    </div>

    <div class="span10">
        <table class="table sortable filterable" data-perpage="50">
            <thead>
            <tr>
                <th data-filter="ignore" class="tiny">#</th>
                <th>Nom</th>
                <th data-filter="date">Date</th>
                <th>Prix</th>
                <th>Nombre de transaction</th>
                <th>Méthode</th>
                <th class="mini"></th>
            </tr>
            </thead>

            <tbody>
            {% for user in luser %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tbody class="empty">
                <tr>
                    <td colspan="10">
                        <p class="text-center">Aucun paiement</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination pagination-centered"><ul></ul></div>
    </div>

{% endblock %}
