{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'payment.admin.paypal.list.title'|trans %}
{% block page_title 'payment.admin.paypal.list.title'|trans %}

{% block admin_content %}
	<div class="span10">
        <div class="text-center">
            <a class="btn" href="{{ path('nantarena_admin_payment_paypal_clean') }}">Nettoyage temps expiré</a>
        </div>

        <table class="table sortable filterable" data-sort="2" data-perpage="50">
            <thead>
            <tr>
                <th data-filter="ignore" class="tiny">#</th>
                <th>Acheteur</th>
                <th data-filter="date">Date</th>
                <th>Prix</th>
                <th>Nombre de transaction</th>
                <th class="mini"></th>
            </tr>
            </thead>

            <tbody>
            {% for paypal in lpaypal %}
                <tr>
                    <td>{{ paypal.id }}</td>
                    <td>
                        {{ paypal.user.username }}
                    </td>
                    <td>
                        {{ paypal.date|date("d/m/Y H:i") }}
                    </td>
                    <td>
                        {{ paypal.amount }}
                    </td>
                    <td>
                        {{ paypal.transactions|length }}
                    </td>
                    <td>
						<a href="{{ path('nantarena_admin_payment_payment_details', {'id': paypal.id}) }}">
                            <i class="icon-eye-open"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tbody class="empty">
	            <tr>
	                <td colspan="10">
	                    <p class="text-center">Pas de transaction en cours</p>
	                </td>
	            </tr>
	        </tbody>
        </table>

        <div class="pagination pagination-centered"><ul></ul></div>
    </div>
{% endblock %}
