{% extends 'NantarenaEventBundle::layout.html.twig' %}

{% block title 'event.profile.createTeam.title'|trans %}
{% block page_title 'event.profile.createTeam.title'|trans %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@NantarenaSiteBundle/Resources/public/js/form/collection.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block event_content %}

         {{ form_start(form) }}
             {{ form_errors(form) }}

             <div class="control-group">
                 <div class="span6">
                     <fieldset>
                         <legend>{{ 'event.form.fieldset.infos'|trans }}</legend>

                         {{ form_row(form.event, {'label': 'event.profile.index.event'|trans|colon}) }}
                         {{ form_row(form.name, {'label': 'event.form.team.name'|trans|colon}) }}
                         {#{{ form_row(form.tournament, {'label': 'event.form.team.tournament'|trans|colon}) }}#}
                         {#{{ form_row(form.creator.user, {'label': 'event.form.team.creator'|trans|colon}) }}#}

                         {#{% form_theme form.members with 'NantarenaSiteBundle:Form:inline_layout.html.twig' %}#}
                         {{ form_widget(form.members, {
                         'add_text': 'event.form.team.members.add'|trans,
                         'labels': {
                         'user': 'event.form.team.members.list'|trans
                         }
                         }) }}
                     </fieldset>
                 </div>
                 <div class="span6">
                     <fieldset>
                         <legend>{{ 'event.form.fieldset.other'|trans }}</legend>

                         {{ form_row(form.tag, {'label': 'event.form.team.tag'|trans|colon}) }}
                         {{ form_row(form.logo, {'label': 'event.form.team.logo'|trans|colon}) }}
                         {{ form_row(form.website, {'label': 'event.form.team.website'|trans|colon}) }}
                         {{ form_row(form.desc, {'label': 'event.form.team.desc'|trans|colon}) }}

                     </fieldset>
                 </div>
             </div>

             {% block submit_button %}
             {{ form_row(form.submit, {'label': 'event.admin.teams.create.submit'|trans}) }}
             {% endblock %}
         {{ form_end(form) }}

        {% block back %}
            <p class="text-center"><a href="{{ path('nantarena_event_show', {slug: event.slug}) }}">Retour à la page de l'évènement</a></p>
        {% endblock %}
{% endblock %}
