{% extends 'NantarenaEventBundle::layout.html.twig' %}

{% block title %}
    {{ 'event.profile.team.title'|trans }}
    {{ team.name }}
{% endblock title %}
{% block page_title %}
    {{ 'event.profile.team.title'|trans }}
    {{ team.name }}
{% endblock page_title %}


{% block event_content %}
    <h2>{{ 'event.profile.team.myTournament'|trans }}</h2>
    <div class="infos">
        <div class="row-fluid">
                <ul class="unstyled">
                    <li><strong>{{ 'event.form.fieldset.event'|trans }}</strong> : {{ event.name }}</li>
                    <li><strong>{{ 'event.form.fieldset.tournament'|trans }}</strong> : {{ team.tournament.game.name }}</li>
                </ul>
        </div>
    </div>
    <h2>{{ 'event.profile.team.myTeam'|trans }}</h2>
    <div class="infos">
        <div class="row-fluid">
        </div>
    </div>
{% endblock event_content %}